@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070707 !important;
  min-height: 100vh;
}

#channel-id:-webkit-autofill,
#channel-id:-webkit-autofill:hover,
#channel-id:-webkit-autofill:focus,
#channel-id:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #dc2626 !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: #dc2626b2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dc2626;
}